.imageDrink {
  height: 400px;
  width: 400px; }

#mixData, #drinkNameDiv {
  width: 400px; }

#nameOfDrink {
  font-size: 3vw;
  font-weight: bold; }

.measureDiv2 {
  min-width: 180px; }

textarea {
  resize: none; }

@media screen and (max-width: 991px) {
  #ingredientName {
    min-width: 400px; } }

@media screen and (max-width: 770px) {
  .measureDiv1 {
    text-align: center; }
  #drinkNameDiv {
    text-align: center; }
  #nameOfDrink {
    font-size: 30px;
    font-weight: bold; } }

@media screen and (max-width: 575px) {
  .imageDrink {
    height: 350px;
    width: 350px; } }
